*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    /* fonts */
    --font-eUkrBLD: 'eUkraine Bold', sans-serif;
    --font-eUkrREG: 'eUkraine Regular', sans-serif;
    --font-eUkrLGH: 'eUkraine Light', sans-serif;
    --font-eUkrMED: 'eUkraine Medium', sans-serif;
    --font-eUkrTIN: 'eUkraine Thin', sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;

    /* colors */
    --color-page-bg: #f4f6f6;
    --color-btn-bg: #378ff6;
    --сolor-profile-bg: #f4f6f6;
    --color-link-hover: #378ff6;
    --color-avatar-profile-button-disabled: #8b8b8b;
    --color-avatar-profile-button-hover: #378ff6;
    --color-avatar-profile-background: #f4f6f6;

    /* borders */
    --border-avatar-profile-unset: 2px dashed #cdcccc;
    --border-avatar-profile-button: 2px solid #cdcccc;
    --border-avatar-profile-button-hover: 2px solid #378ff6;
    --border-setting-section: 2px solid #f1f1f1;

    /* shadows */
    --shadow-btn: 0 6px 12px rgba(55, 143, 246, 0.25);
    --shadow-block: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body,
html {
    width: 100%;
    height: auto;
    font-size: 10px;
    line-height: 1.25;
}

.page__wrapper {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: var(--color-page-bg);
}

.page__content {
    width: calc(100% - 4rem);
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 2rem;
}

/* header */

.header {
    width: 100%;
    height: 10rem;
    background: white;
    border-radius: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    position: relative;
    z-index: 1;
    margin-bottom: 2.75rem;
    padding: 0 2rem;
}

.header__logo {
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo-a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    font-weight: 400;
    margin-left: .75rem;
}

.header__nav {
    width: 100%;
    height: auto;
}

.header__nav-list {
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__nav-item {
    list-style: none;
    margin-left: 4rem;
    height: 3rem;
}

.header__nav-a,
.header__nav-btn {
    text-decoration: none;
    color: var(--color-nav-link);
    font-family: var(--font-eUkrLGH);
    font-size: 1.6rem;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    height: 100%;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* header__profile */

.header__profile {
    width: auto;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
    padding: .75rem .75rem .75rem 2rem;
    margin-left: 2rem;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.header__profile-name {
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-link-hover);
    font-size: 1.6rem;
    padding: 0 2rem 0 0;
    font-family: var(--font-eUkrLGH);
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.header__profile:hover {
    background: var(--сolor-profile-bg);
}

.header__profile:hover .header__profile-name,
.header__nav-a:hover,
.header__nav-btn:hover {
    color: var(--color-link-hover);
}

.header__profile-photo {
    width: 5rem;
    height: 5rem;
    background-color: #f4f6f6;
    border-radius: 50%;
}

.header__profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: contain;
    object-fit: contain;
}

/* PROFILE */

.profile {
    width: 100%;
    height: auto;
    margin-bottom: 2.75rem;
}

.profile__content {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2.75rem;
}

/* navigation */

.profile__nav {
    width: 100%;
    height: 100%;
}

.profile__nav-content {
    width: 100%;
    height: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
    padding: 2.75rem;
    border-radius: 5px;
    background-color: white;
}

.profile__nav-account {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-bottom: var(--border-setting-section);
}

.profile__nav-account-item {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
    -ms-grid-columns: 50px 1fr;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 2rem;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    border-radius: 5px;
    /*padding: .75rem;*/
    position: relative;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    cursor: pointer;
    margin-bottom: 2rem;
}

.profile__nav-account-image {
    grid-row: 1/-1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: 100%;
    height: 50px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%;
}

.profile__nav-account-text {
    grid-row: 1/-1;
    grid-column: 2/-1;
    width: 100%;
    padding-right: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    color: #378ff6;
}

/*.profile__nav-account-item:hover{
    background-color: #f4f6f6;
}*/

.profile__nav-account-setting {
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
}

.profile__nav-account-btn {
    width: auto;
    height: auto;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f4f6f6;
    border: 2px solid #f4f6f6;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.profile__nav-account-btn:hover {
    color: #378ff6;
}

.profile__nav-account-delete:hover {
    color: #f63737;
}

/* nav list */

.profile__nav-list {
    width: 100%;
    height: auto;
    list-style: none;
    padding-bottom: 2rem;
    border-bottom: var(--border-setting-section);
}

.profile__nav-list:last-of-type {
    border: 0;
    padding-top: 2rem;
    padding-bottom: 0;
}

.profile__nav-btn {
    width: 100%;
    height: 52px;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    color: black;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    text-align: start;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding-left: 5rem;
}



.profile__nav-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 5rem;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-position: center;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.profile__nav-btn-profile::before {
    background-image: url(../images/main/user.svg);
}

.profile__nav-btn-lock::before {
    background-image: url(../images/main/lock.svg);
}

.profile__nav-btn-help::before {
    background-image: url(../images/main/help.svg);
}

.profile__nav-btn:hover,
.profile__nav-btn--active {
    color: #378ff6;
    background-color: #f4f6f6;
}

.profile__nav-a {
    width: 100%;
    display: block;
    color: #8b8b8b;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.profile__nav-item:nth-of-type(1) .profile__nav-a {
    padding-bottom: 1rem;
}

.profile__nav-item:nth-of-type(2) .profile__nav-a {
    padding: 1rem 0;
}

.profile__nav-item:nth-of-type(3) .profile__nav-a {
    padding-top: 1rem;
}

.profile__nav-a:hover {
    color: black;
}

/* profile__settings */

.profile__settings {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding: 2.75rem;
}

/* section name */


.profile__section-name {
    width: 100%;
    margin-bottom: 1.75rem;
    margin-top: 2.75rem;
}

.profile__section-name:first-of-type {
    margin-top: 0;
}

.profile__section-content {
    font-size: 1.6rem;
    font-family: var(--font-eUkrREG);
}

/* AVATAR */

.profile__avatar {
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 1fr;
    grid-template-columns: 150px 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.75rem;
    padding-bottom: 2.75rem;
    border-bottom: var(--border-setting-section);
}

.profile__avatar-wrapper,
.profile__avatar-image {
    width: 100%;
    height: 100%;
}

.profile__avatar-wrapper {
    width: 150px;
    height: 150px;
    grid-row: 1/-1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    border-radius: 50%;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    background-color: var(--color-avatar-profile-background);
}

.profile__avatar-wrapper--unset {
    position: relative;
    background-image: url(../images/main/profile2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__avatar-wrapper--unset:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: var(--border-avatar-profile-unset);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.profile__avatar-image {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    color: transparent;
}

.profile__avatar-button {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-column: 2/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.profile__avatar-button-item {
    width: auto;
    height: auto;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    background-color: transparent;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    border-radius: 5px;
    border: var(--border-avatar-profile-button);
    cursor: pointer;
    display: inline-block;
}

.profile__avatar-button-item input {
    display: none;
}

.profile__avatar-button-item:hover {
    border: var(--border-avatar-profile-button-hover);
    /*color: var(--color-avatar-profile-button-hover);*/
}

.profile__avatar-button--disabled {
    color: var(--color-avatar-profile-button-disabled);
    border: 0;
    pointer-events: none;
}

.profile__avatar-button-upload {
    margin-right: 2rem;
}

.profile__avatar-button--disabled:hover {
    border: 0;
    color: var(--color-avatar-profile-button-disabled);
}

.profile__avatar-message {
    grid-row: 2/-1;
    grid-column: 2/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.profile__avatar-message-item {
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    color: #8b8b8b;
}

/* формы */

:focus {
    outline: none;
}

.portfolio__form {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.portfolio__form--grided {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}

.portfolio__form-wrap {
    width: 100%;
    height: 50px;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.portfolio__form-input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    border-radius: 5px;
    border: 2px solid #cdcccc;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    cursor: pointer;
    padding-left: 1rem;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    resize: none;
}

.portfolio__type-input {
    pointer-events: none;
}

.portfolio__form-input:focus {
    border: 2px solid #378ff6;
}

.form__clue::after {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 0.5rem;
    padding: 0 1rem 0 0.5rem;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    width: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
    -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__clue--clicked::after {
    top: 0;
    color: #378ff6;
    background: white;
    z-index: 2;
}

.portfolio__age {
    border-bottom: var(--border-setting-section);
    padding-bottom: 2.75rem;
}

.portfolio__age-input {
    color: transparent;
}

.form__clue--clicked .portfolio__age-input {
    color: black !important;
}

/* bio */

.portfolio__bio {
    border-bottom: var(--border-setting-section);
    padding-bottom: 2.75rem;
}

.portfolio__bio-wrap {
    height: 200px;
}

.portfolio__bio-input {
    padding: 1rem;
}

.portfolio__comment-text {
    font-size: 1.6rem;
    color: #8b8b8b;
    font-family: var(--font-eUkrLGH);
}

/* gallery */

.portfolio__gallery {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.portfolio__gallery::-webkit-scrollbar {
    background: #f4f6f6;
    border-radius: 5px;
    height: 1rem;
}

.portfolio__gallery::-webkit-scrollbar-thumb {
    background-color: #cdcccc;
    border-radius: 5px;
}


.portfolio__gallery-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1rem;
}


/* input gallery*/

.portfolio__gallery-input-wrapp {
    height: 100%;
    width: 100%;
    position: relative;
}

.portfolio__gallery-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    background-color: #f4f6f6;
    border-radius: 5px;
    background-image: url(../images/main/upload.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio__gallery-input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    border: var(--border-avatar-profile-unset);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.portfolio__gallery-input input {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* gallery item */

.portfolio__gallery-item {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    /* sets the initial main size of a each menu item */
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /* don't allow menu item to shrink below 120px when there isn’t enough space on the row. */
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /* allow items to grow up to 150px wide if the container is big enough */
    max-width: 200px;
    height: 200px;
    margin-right: 1rem;
    border-radius: 5px;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    position: relative;
}

.portfolio__gallery-item--disabled{
    display: none;
}

.portfolio__gallery-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
}

.portfolio__gallery-delete {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 2.3rem;
    height: 2.3rem;
    opacity: 0;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    cursor: pointer;
    background-image: url(../images/main/delete.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio__gallery-item:hover .portfolio__gallery-delete {
    opacity: 1;
}

/* main */

.main {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

/* footer */

.footer {
    display: flex;
}