*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* fonts */
    --font-eUkrBLD: 'eUkraine Bold', sans-serif;
    --font-eUkrREG: 'eUkraine Regular', sans-serif;
    --font-eUkrLGH: 'eUkraine Light', sans-serif;
    --font-eUkrMED: 'eUkraine Medium', sans-serif;
    --font-eUkrTIN: 'eUkraine Thin', sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;

    /* colors */
    --color-page-bg: #f4f6f6;
    --color-btn-bg: #378ff6;
    --сolor-profile-bg: #f4f6f6;
    --color-link-hover: #378ff6;
    --color-avatar-profile-button-disabled: #8b8b8b;
    --color-avatar-profile-button-hover: #378ff6;
    --color-avatar-profile-background: #f4f6f6;

    /* borders */
    --border-avatar-profile-unset: 2px dashed #cdcccc;
    --border-avatar-profile-button:2px solid #cdcccc;
    --border-avatar-profile-button-hover:2px solid #378ff6;
    --border-setting-section: 2px solid #f1f1f1;

    /* shadows */
    --shadow-btn: 0 6px 12px rgba(55,143,246, 0.25);
    --shadow-block: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body,
html{
    width: 100%;
    height: auto;
    font-size: 10px;
    line-height: 1.25;
}

.page__wrapper{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: var(--color-page-bg);
}

.page__content{
    width: calc(100% - 4rem);
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 2rem;
}

/* header */

.header{
    width: 100%;
    height: 10rem;
    background: white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
    z-index: 1;
    margin-bottom: 2.75rem;
    padding: 0 2rem;
}

.header__logo{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    font-weight: 400;
    margin-left: .75rem;
}

.header__nav{
    width: 100%;
    height: auto;
}

.header__nav-list{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__nav-item{
    list-style: none;
    margin-left: 4rem;
    height: 3rem;
}

.header__nav-a,
.header__nav-btn{
    text-decoration: none;
    color: var(--color-nav-link);
    font-family: var(--font-eUkrLGH);
    font-size: 1.6rem;
    transition: all 250ms ease;
    height: 100%;
    display: block;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* header__profile */

.header__profile{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: .75rem .75rem .75rem 2rem;
    margin-left: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms ease;
}

.header__profile-name{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-link-hover);
    font-size: 1.6rem;
    padding: 0 2rem 0 0;
    font-family: var(--font-eUkrLGH);
    transition: all 250ms ease;
}

.header__profile:hover{
    background: var(--сolor-profile-bg);
}

.header__profile:hover .header__profile-name,
.header__nav-a:hover,
.header__nav-btn:hover{
    color: var(--color-link-hover);
}

.header__profile-photo{
    width: 5rem;
    height: 5rem;
    background-color: #f4f6f6;
    border-radius: 50%;
}

.header__profile-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

/* PROFILE */

.profile{
    width: 100%;
    height: auto;
    margin-bottom: 2.75rem;
}

.profile__content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2.75rem;
}

/* navigation */

.profile__nav{
    width: 100%;
    height: 100%;
}

.profile__nav-content{
    width: 100%;
    height: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
    padding: 2.75rem;
    border-radius: 5px;
    background-color: white;
}

.profile__nav-account{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-bottom: var(--border-setting-section);
}

.profile__nav-account-item{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 2rem;
    grid-template-rows: 1fr;
    border-radius: 5px;
    /*padding: .75rem;*/
    position: relative;
    transition: all 250ms ease;
    cursor: pointer;
    margin-bottom: 2rem;
}

.profile__nav-account-image{
    grid-row: 1/-1;
    grid-column: 1/2;
    width: 100%;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
}

.profile__nav-account-text{
    grid-row: 1/-1;
    grid-column: 2/-1;
    width: 100%;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    color: #378ff6;
}

/*.profile__nav-account-item:hover{
    background-color: #f4f6f6;
}*/

.profile__nav-account-setting{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
}

.profile__nav-account-btn{
    width: auto;
    height: auto;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f4f6f6;
    border: 2px solid #f4f6f6;
    transition: all 250ms ease;
}

.profile__nav-account-btn:hover{
    color: #378ff6;
}

.profile__nav-account-delete:hover{
    color: #f63737;
}

/* nav list */

.profile__nav-list{
    width: 100%;
    height: auto;
    list-style: none;
    padding-bottom: 2rem;
    border-bottom: var(--border-setting-section);
}

.profile__nav-list:last-of-type{
    border: 0;
    padding-top: 2rem;
    padding-bottom: 0;
}

.profile__nav-btn{
    width: 100%;
    height: 52px;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    color: black;
    transition: all 500ms ease;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    text-align: start;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding-left: 5rem;
}



.profile__nav-btn::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 5rem;
    height: 100%;
    object-fit: contain;
    transform: translateY(-50%);
    background-position: center;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    transition: all 500ms ease;
}

.profile__nav-btn-profile::before{
    background-image: url(../images/main/user.svg);
}

.profile__nav-btn-lock::before{
    background-image: url(../images/main/lock.svg);
}

.profile__nav-btn-help::before{
    background-image: url(../images/main/help.svg);
}

.profile__nav-btn:hover,
.profile__nav-btn--active{
    color: #378ff6;
    background-color: #f4f6f6;
}

.profile__nav-a{
    width: 100%;
    display: block;
    color: #8b8b8b;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    text-decoration: none;
    transition: all 250ms ease;
}

.profile__nav-item:nth-of-type(1) .profile__nav-a{
    padding-bottom: 1rem;
}

.profile__nav-item:nth-of-type(2) .profile__nav-a{
    padding: 1rem 0;
}

.profile__nav-item:nth-of-type(3) .profile__nav-a{
    padding-top: 1rem;
}

.profile__nav-a:hover{
    color: black;
}

/* profile__settings */

.profile__settings{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding: 2.75rem;
}

/* section name */


.profile__section-name{
    width: 100%;
    margin-bottom: 1.75rem;
    margin-top: 2.75rem;
}

.profile__section-name:first-of-type{
    margin-top: 0;
}

.profile__section-content{
    font-size: 1.6rem;
    font-family: var(--font-eUkrREG);
}

/* AVATAR */

.profile__avatar{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.75rem;
    padding-bottom: 2.75rem;
    border-bottom: var(--border-setting-section);
}

.profile__avatar-wrapper,
.profile__avatar-image{
    width: 100%;
    height: 100%;
}

.profile__avatar-wrapper{
    width: 150px;
    height: 150px;
    grid-row: 1/-1;
    grid-column: 1/2;
    border-radius: 50%;
    transition: all 250ms ease;
    background-color: var(--color-avatar-profile-background);
    cursor: pointer;
}

.profile__avatar-wrapper--unset{
    position: relative;
}

.profile__avatar-wrapper--unset:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border:var(--border-avatar-profile-unset);
    transform: translate(-50%, -50%);
    animation: avatarBorderRotate 36000ms linear 0ms infinite normal forwards;
}

@keyframes avatarBorderRotate{
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.profile__avatar-wrapper--unset:hover:after{
    animation-duration: 9000ms;
}

.profile__avatar-image{
    object-fit: contain;
}

.profile__avatar-button{
    grid-row: 1/2;
    grid-column: 2/-1;
    display: flex;
    align-items: flex-end;
}

.profile__avatar-button-item{
    width: auto;
    height: auto;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    background-color: transparent;
    transition: all 250ms ease;
    border-radius: 5px;
    border: var(--border-avatar-profile-button);
    cursor: pointer;
}

.profile__avatar-button-item:hover{
    border: var(--border-avatar-profile-button-hover);
    /*color: var(--color-avatar-profile-button-hover);*/
}

.profile__avatar-button--disabled{
    color: var(--color-avatar-profile-button-disabled);
    border: 0;
    cursor: not-allowed;
}

.profile__avatar-button-upload{
    margin-right: 2rem;
}

.profile__avatar-button--disabled:hover{
    border: 0;
    color: var(--color-avatar-profile-button-disabled);
}

.profile__avatar-message{
    grid-row: 2/-1;
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile__avatar-message-item{
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    color: #8b8b8b;
}

/* формы */

:focus{
    outline: none;
}

.portfolio__form{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.portfolio__form--grided{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}

.portfolio__form-wrap{
    width: 100%;
    height: 50px;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.portfolio__form-input{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    border-radius: 5px;
    border: 2px solid #cdcccc;
    transition: all 250ms ease;
    cursor: pointer;
    padding-left: 1rem;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    resize: none;
}

.portfolio__type-input{
    pointer-events: none;
}

.portfolio__form-input:focus{
    border: 2px solid #378ff6;
}

.form__clue::after{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 0.5rem;
    padding: 0 1rem 0 0.5rem;
    font-size: 1.6rem;
    font-family: var(--font-eUkrLGH);
    width: auto;
    transform: translateY(-50%);
    z-index: 0;
    transition: all 250ms cubic-bezier(0.4,0,0.2,1);
}

.form__clue--clicked::after{
    top: 0;
    color: #378ff6;
    background: white;
    z-index: 2;
}

.portfolio__age{
    border-bottom: var(--border-setting-section);
    padding-bottom: 2.75rem;
}

.portfolio__age-input{
    color: transparent;
}

.form__clue--clicked .portfolio__age-input{
    color: black !important;
}

.portfolio__bio-wrap{
    height: 200px;
}

.portfolio__bio-input{
    padding: 1rem;
}


/* main */

.main{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

/* footer */

.footer{

}